{%extends "bootstrap/base.html" %}


{% block content %}
<!-- Main Content Is Here -->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">
     <div class="container">
      <div class="jumbotron">
        
         <h1 class="head_title" style="color: rgb(255, 146, 13)">MACHINE LEARNING API</h1>
          <p class="sub_title" style="color: burlywood">Simplify Your Machine Learning and Data Exploration(Semi-Automated ML)</p>
          <center><p><a href="{{ url_for('index')}}" class = "button_reset"> Refresh</a></p></center>
       
        </div>
      
      <center>
      <div class="container_input">
        <form method="POST" class="form-group" enctype=multipart/form-data action="{{url_for('datauploads')}} ">
          <h1 class = "insert_dataset">Insert your Dataset</h1>
          <input type="file" id="file" name="csv_data" >
            <label for="file">
                <i class="material-icons"> </i>
               PUT DATASET
            </label>
          <h1 class= "target_column">Define your target column</h1>
          <input type="text" name = "target_column" placeholder="Target Column">
          <input type="submit" class="" value="ANALYZE">
          <input type="reset" class="" value="  RESET">
        </form>
                    
     </div>
    </center>
   
    
    </div> 
      
    
 <style>

   .jumbotron{
     background-color: #000000;
   
   }
   
   .head_title{

     font-family: "Lato",sans-serif;
     letter-spacing: 3px;
     text-align: center;
   

   }

   .sub_title{
    font-family: "Lato",sans-serif;
     letter-spacing: 3px;
     text-align: center;
   }
   .container{
     border: 2px solid black;
     margin-top: 50px;
     padding: 40px;
     background: #7F7FD5;  /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   }

   input[type="file"]{
     display: none;
   }
   label{
     color: rgb(255, 178, 10);
     height: 60px;
     width: 350px;
     background-color:#050100;
     font-size: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     border: none;
     font-family: 'Lato',sans-serif;
     letter-spacing: 3px;
     border-radius: 30px 30px 30px 30px;
   }
    label::before{
      content: '';
      height: 60px;
      width: 350px;
      position: absolute;
      background-image: -webkit-linear-gradient(left,
      rgba(255,255,255,0) 0%,
      rgba(255,255,255,0.2) 50%,
      transparent 50%);
      transform: skew(-45deg);
      
    }

    input
    {
      position: relative;
      display: inline-block;
      font-size: 20px;
      box-sizing: border-box;
      transition: 0.5s;

    }

    input[type="text"]{
      background: rgb(236, 231, 218);
      width:500px;
      height: 60px;
      border: 2px solid black;
      outline: none;
      padding: 0 25px;
      border-radius: 30px 0 0 30px;
      font-family: 'Lato',sans-serif;
     letter-spacing: 3px;
      
    }
    input[type="submit"]{
      position: relative;
      border-radius: 0PX 30px 30px 0px;
      height: 60px;
      width: 180px;
      border: 2px solid black;
      outline: none;
      cursor: pointer;
      background: #000000;
      color: rgb(255, 178, 10);
      font-family: 'Lato',sans-serif;
      letter-spacing: 3px;
      left: -15px;
      

    }
     .button_reset{
     
      height: 60px;
      width: 180px;
      background:rgb(255, 178, 10);
      padding: 10px 40px 10px 40px;
      text-decoration: none;
      align-content: center;
      color: #000000;
      border-radius: 30px 30px 30px 30px;

     }
     .button_reset:hover{
     
     height: 60px;
     width: 180px;
     background:rgb(255, 140, 8);
     padding: 10px 40px 10px 40px;
     text-decoration: none;
     align-content: center;
     color: #000000;
     border-radius: 30px 30px 30px 30px;
     border: 1 px solid rgb(243, 255, 137);

    }

    input[type="reset"]{
      position: relative;
      border-radius: 30px 30px 30px 30px;
      height: 62px;
      width: 180px;
      border: none;
      outline: none;
      cursor: pointer;
      background: #000000;
      color: rgb(255, 178, 10);
      font-family: 'Lato',sans-serif;
      letter-spacing: 3px;
     
     
      

    }
    
   
   
 </style>

{% endblock %}

<!-- Main External 3-Party JS Is Here -->

{% block scripts %}

{{ super() }} 



{% endblock%}
